.centro {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#jogo{
    width: 606px;
    height: 690px;
}

.casa {
	width: 200px;
	height: 200px;
	border: solid 1px;
	float: left;
	cursor: pointer;
	background-color: #eaf0b2; 	
}
#placar{
	width: 604px;
	height: 40px;
	border: solid 1px;
	float: left;
	background-color: #eaf0b2;
	cursor: pointer;

}


h1{
	font-family: cursive;
	font-size:x-large;
	display: block;
    margin-top: 1px;   
    font-weight: bold;
}

body{
 	background-image: url(img/fundo.png);
 	background-size: 100% 100%;
}
.Butao{
	font-family: cursive;
	font-size: 10px;
	text-transform: uppercase;
	padding: 10px;
	border:none;
	border-radius: 20px;
	cursor: pointer;
}
.ButaoEfeito{
	background: #FD0800;
	color: #fff;
	box-shadow:0 5px #8E0601;
}
.ButaoEfeito:hover{
	background: #8E0601;
	color: #fff;
	box-shadow:0 5px #530300;
}
.ButaoEfeito:active{
	position: relative;
	top:5px;
	box-shadow:none;
}
#Serie1{
	position: relative;  
  	width: 300px;
	height: 100px;
	border: solid 2px;
	float: right; 	
	background-color: #eaf0b2;
}

#Serie2 {
	position: absolute; 
	width: 300px;
	height: 100px;
	border: solid 2px;
	float: left; 	
	background-color: #eaf0b2;
}
.fotos{
	border: 1px solid;
	position: absolute; 
	margin-left:200px;
	float:left;
	bottom: 20;
 	cursor: pointer;
}
#sobreSerie1{
	position: relative;
	bottom: 540px;  
  	width: 300px;
	height: 350px;
	border: solid 1px;
	float: right; 	
	background-color: #eaf0b2;
}
#sobreSerie2 {
	position: relative;
	bottom: 540px; 
	width: 300px;
	height: 350px;
	border: solid 1px;
	float: left; 	
	background-color: #eaf0b2;
}